<div markdown [text]="markdown"></div>

<app-home></app-home>

<div style="text-align: center">
  <button *ngIf="!showButton" (click)="edit()">Edit</button>
  <button *ngIf="showButton" (click)="save()">Save</button>
  <button *ngIf="showButton" (click)="cancle()">Cancle</button>
  <button *ngIf="showButton" (click)="delete()">Delete</button>
</div>

<div class="center" *ngIf="!showEdit">
  <mat-card class="card">
    <mat-card-title>
      <h1 class="display-2">{{ question.questionName }}</h1>
    </mat-card-title>
    <div>
      <mat-card-subtitle> {{ question.questionDate }} </mat-card-subtitle>
      <mat-card-subtitle>{{ question.userName }} </mat-card-subtitle>
    </div>
    <div *ngFor="let tag of question.questionTag">
      <span class="badge badge-info">{{ tag }}</span>
    </div>
    <mat-card class="marginTop">
      <h1 class="display-2">Quesiton Description</h1>
      <textarea rows="20" class="form-control" readonly>
        {{ question.questionDescription }}
      </textarea>
    </mat-card>
    <mat-card class="marginTop">
      <h1 class="display-2">Quesiton Answer</h1>
      <textarea class="form-control textarea-autosize" rows="20" readonly>
        {{ question.questionAnswer }}
      </textarea>
    </mat-card>
  </mat-card>
</div>
<!-- ====================================================================================== -->
<div class="center" *ngIf="showEdit">
  <form [formGroup]="questionForm">
    <mat-card class="card">
      <mat-card-title>
        <textarea
          formControlName="questionName"
          rows="1"
          class="form-control"
          style="text-align: center"
          placeholder="Quesiton Name"
          aria-label="With textarea"
        ></textarea>
      </mat-card-title>
      <div>
        <mat-card-subtitle> {{ currentTime }} </mat-card-subtitle>
        <mat-card-subtitle>{{ question.userName }} </mat-card-subtitle>
      </div>
      <h1 class="display-2">Current tag</h1>
      <mat-card-subtitle>
        <mat-card class="container">
          <mat-chip-list
            cdkDropList
            #currentTagsList="cdkDropList"
            [cdkDropListData]="currentTags"
            [cdkDropListConnectedTo]="[allTagsList]"
            (cdkDropListDropped)="drop($event)"
            class="list"
          >
            <div
              aria-label="Fish selection"
              *ngFor="let tag of currentTags"
              cdkDrag
            >
              <mat-chip>{{ tag }}</mat-chip>
            </div>
          </mat-chip-list>
        </mat-card>
      </mat-card-subtitle>
      <h1 class="display-2">All tag</h1>

      <mat-card-subtitle>
        <mat-card class="container">
          <mat-chip-list
            cdkDropList
            #allTagsList="cdkDropList"
            [cdkDropListData]="allTags"
            [cdkDropListConnectedTo]="[currentTagsList]"
            (cdkDropListDropped)="drop($event)"
            class="list"
          >
            <div
              aria-label="Fish selection"
              *ngFor="let tag of allTags"
              cdkDrag
            >
              <mat-chip>{{ tag }}</mat-chip>
            </div>
          </mat-chip-list>
        </mat-card>
      </mat-card-subtitle>
      <mat-card class="marginTop">
        <h1 class="display-2">Quesiton Description</h1>
        <textarea
          formControlName="questionDescription"
          rows="15"
          class="form-control"
          aria-label="With textarea"
        ></textarea>
      </mat-card>
      <mat-card class="marginTop">
        <h1 class="display-2">Quesiton Solution</h1>
        <textarea
          formControlName="questionAnswer"
          rows="15"
          class="form-control"
          aria-label="With textarea"
        ></textarea>
      </mat-card>
    </mat-card>
  </form>
</div>
