<app-home></app-home>
<div class="center">
  <mat-card class="card">
    <mat-card-title>
      <h1 class="display-2">{{ question.questionName }}</h1>
    </mat-card-title>
    <div>
      <mat-card-subtitle> {{ question.questionDate }} </mat-card-subtitle>
      <mat-card-subtitle>{{ question.userName }} </mat-card-subtitle>
    </div>
    <div *ngFor="let tag of question.questionTag">
      <span class="badge badge-info">{{ tag }}</span>
    </div>
    <h1 class="display-2" style="margin-top: 3vh">Quesiton Description</h1>
    <mat-card>
      <div
        markdown
        [text]="question.questionDescription"
        style="text-align: left"
      ></div>
    </mat-card>
    <h1 class="display-2" style="margin-top: 3vh">Quesiton Answer</h1>
    <mat-card>
      <div
        markdown
        [text]="question.questionAnswer"
        style="text-align: left"
      ></div>
    </mat-card>
  </mat-card>
</div>
